.header{height: 200px;
background-color: blue;
text-align:center;
color:grey;
font-size:30px;
line-height: 200px
}

/* Taken from w3school link:https://www.w3schools.com/css/css_navbar.asp*/
/*modified to work in this situation*/
.topnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

.topnav li{
  float: left;
  background-color:yellow;
  margin: 0 3px 0 3px;
}

.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
/* End of snippet taken from W3school*/
.sidebar{
width:25%;
top: 230;
right: 10px;
position:absolute;
background-color:yellow;
}
.sidebar li{margin: 10px 0;
}
.sidebar h1{text-align:center;}

.content{
width:70%;
top: 230;
left: 10px;
position:absolute;
}
img{float:left;
padding:5px;
max-width:20%;
max-height:20%
}
h1{font-style: oblique;}